.thighs {
    color: red;
}

h1 {
    font-size: 50px;
    text-align: right;
    background-color: bisque;
}

body {
    font-size: 150px;
    text-align: center;
    background-color: bisque;
}

img {
    height: auto;
    width: 1000px;
  }